.eventTitle {
  color: white;
  font-weight: lighter;
  font-size: 25px;
  width: 100%;
  margin-top: 10px;

}

.eventImage {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: block;
  background: white;
}

.popupHeader{
  color: white;
}

.eventDescription{
  color: white;
  font-size: 13px;
  font-weight: lighter !important;
  margin-top: 20px;
  line-height: 150%;

}

.eventTable{
  color: white;
  width: 100%;
  font-size: 13px;
  margin-left: -10px;
  margin-right: -100px;
  padding-right: 15px;
  padding-top: 10px;
  font-weight: lighter !important;
  overflow-x:auto
}
td{
  text-align: right;
}
th {
    height: 50px;
}
.eventTableStyle{
  width: 100%;
  margin-left: 10px;
  text-align: left;
  font-weight: lighter !important;
  background : #78909C;
  border-radius: 5px;
  table-layout: fixed;
  height: 50px;
}

.eventQRCode{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: block;
  background: white;
}
